{% load blog_tags %}
<!-- Recent posts-->
<div class="card rounded-0 border-0 mb-4">
    <div class="card-body p-0">
        <h2 class="h5 mb-3">Recent posts</h2>
        {% recent_posts as recent_posts %}
        {% for post in recent_posts %}
            <div class="media mb-3"><a class="d-block" href="#">
                <img class="img-fluid" src="{{ post.post_thumbnail.url }}" alt="" width="70"></a>
                <div class="media-body ml-3">
                    <h6><a class="reset-anchor" href="#">{{ post.title|truncatewords:"3" }}</a></h6>
                    <p class="text-small text-muted line-height-sm mb-0">{{ post.description|truncatewords:"10" }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>